
    <!--Nav Bar-->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img id="logo" src="logo goes here when its ready">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" id="current-product-area">
        <div class="col-md-5" id="product-image"></div>
        <div class="col-md-7" id="product-info">
            <h1>Product Title</h1>
            <p>product description...</p>
            <form>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <select class="form-control" id="quantity">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success" id="add-to-cart">Add to Cart</button>
            </form>
        </div>
    </div>

    <div class="row" id="add-on-products-area">
        <div class="col-md-12">
            <div class="row" id="add-on-header">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2>Add On Products</h2>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row" id="add-on-items">
                <div class="col-md-3" id="add-on-1"></div>
                <div class="col-md-3" id="add-on-2"></div>
                <div class="col-md-3" id="add-on-3"></div>
                <div class="col-md-3" id="add-on-4"></div>
            </div>
        </div>
    </div>