:root {
    --darkGreen: rgb(100, 156, 35);
    --lightGreen: rgb(166, 219, 106);
    --lightGrey: rgb(218, 218, 218);
    --darkGrey: #333333;
}


/* I made global colors at the top
feel free to change the shades
*/

.list-group-item {
    line-height: 2.5;
}

.footer {
    background-color: (var(--darkGrey));
    width: 100%;
    position: fixed;
    padding: 20px;
    bottom: 0px;
}

#copyright {
    color: (var(--lightGrey));
    padding-top: 20px;
    text-align: center;
    font-size: small;
}

#left-text {
    margin-left: 200px;
    margin-top: 200px;
}