<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img id="logo" src="logo goes here when its ready">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<select name="" id="">
    {{#select}}
    <option></option>
</select>


{{!-- a product template with an image, product name, and its price
we also want to incoorporate an "add to cart" button and "view product details" button--}}

<ul id= "myProducts">
    {{#each productsArray}}

    <li>
        {{imageURL}}
        <p>{{productName}}</p>
        <p>{{price}}</p>
    </li>
    {{/each}}
</ul>

